
.hero.is-primary {

  background-color: #FA4616;
}
.mt-1 {
  position: relative;
}

#openlime {
  position: relative;
}

* {
  overflow-y: hidden;
}

footer {
  bottom: 0;
}

.column {
      height:90vh; /* Would mean 50% of Viewport height */
}





 .is-full {
  background-color: black;
}

/** Breakpoints responsive **/

@media only screen and (min-width: 768px) {
/* tablettes et ordinateurs */
}
@media only screen and (max-width: 767px) {
  .column {
        height: 100vh; /* Would mean 100% of Viewport height */
  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .column {
        height: 100vh; /* Would mean 100% of Viewport height */
  }
}
