



<div  class="container">
  <script src="/assets/js/annotations/openlime.js"></script>

  <div class="layout">
    <button (click)="backClicked()" class="btn backdesk"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>

    <div class="col col-main">


          <!-- open lime !-->
      <div id="openlime"></div>
<!-- open lime !-->


    </div>

    <div (click)="backClicked()" class="floatingButtonWrap">
        <div class="floatingButtonInner">
            <a  class="floatingButton">
                <i class="fa fa-arrow-left icon-default"></i>
            </a>
        </div>
    </div>
