

<div (click)="backClicked()" class="floatingButtonWrap">
    <div class="floatingButtonInner">
        <a  class="floatingButton">
            <i class="fa fa-arrow-left icon-default"></i>
        </a>
    </div>
</div>


  <div  class="container" id="popout">


    <div class="layout">


      <button (click)="backClicked()" class="btn backdesk"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>

      <div class="col col-main">

        <div id="popup1" class="overlay">
          <div class="popup">
            <h2>Editer</h2>
            <a class="close"   href="#popout">&times;</a>
            <div  >

              <form class="row"    (ngSubmit)="onSubmitform(f)"  #f="ngForm"        (ngSubmit)= "updateRti()"  >

              <div class="column">
                <div class="form-group">
              <label for="name">Identifiant </label>
              <input type="text"  name="id" class="form-control" readonly  value="rti.rti_id"  [(ngModel)]="rti.rti_id" #formInputText >


                  <li  class="btn fa fa-clipboard" [ngxClipboard]="formInputText"></li>
                </div>




              <div class="form-group" *ngIf=" user.email === 'Admin@gmail.com'">
              <label for="exampleFormControlSelect1">Proprietaire</label>
              <select [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
            <option value="" selected disabled>Selectionnez un proprietaire pour ce RTI</option>
            <option   *ngFor="let user of users" value="{{user.id}}" >{{user.username}} - {{user.email}}</option>

              </select>
            </div>

            <div class="form-group" *ngIf=" user.email != 'Admin@gmail.com'">
            <label for="exampleFormControlSelect1">Proprietaire</label>
            <select disabled [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
          <option   disabled value="{{user?.id}}" >{{user?.username}} - {{user?.email}}</option>

            </select>

          </div>






                               <div class="form-group">
                                     <label for="exampleFormControlSelect1">Visibilité</label>
                                 <select [(ngModel)]="rti.public" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                                     <option   value="1" >Public</option>
                                   <option   value="0" >Privé</option>
                                   </select>
                                   </div>



              </div>

              <div class="column">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Date d'acquisition</label>

                  <input type="date" name="Email" class="form-control" placeholder="Date" [(ngModel)]="rti.date">
                  </div>

                      <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" name="name" class="form-control"  [(ngModel)]="rti.nom"    >
                         </div>

                         <div class="form-group">
                           <label for="exampleFormControlSelect1">Description</label>

                             <textarea  name="description" class="form-control" placeholder="Description" [(ngModel)]="rti.description"> </textarea>
                         </div>



                            <!--
                            <div class="form-group">
                          <label for="name">tag</label>
                          <input type="text" name="public" class="form-control" [(ngModel)]="rti.tag">
                               </div>
                               !-->

                               <!-- Progress Bar -->
                                     <div class="progress form-group" *ngIf="progress > 0">
                                         <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                                         </div>
                                     </div>
                 <input type="file" class="form-group"   name="myFile" (change)="fileEvent($event)"/>



              </div>
                    <button     class="btn btn-dark btn-sm mt-4">Mettre à jour </button>


                </form>

                  </div>
          </div>
        </div>
            <!-- open lime !-->
        <div id="openlime"></div>
  <!-- open lime !-->
<script src="/assets/js/openlime.js"></script>

      </div>




      <div *ngFor="let rti of rtis" class="col col-complementary" role="complementary">

        <div class="section-titleRti">
      <span class="title">  <strong>{{rti.nom}}</strong></span><br>

    <span>  publié le <strong> {{rti.date}} </strong> </span> <br>
  <!--  <span>  <!Par <strong> {{rti.owner_id}} </strong> </span>
    <span> {{rti.id}} </span>!-->
  </div>

      <div class="section description">

    <span class="section-title"> <strong>  Description </strong> </span> <br>
    <input type="checkbox" class="read-more-state" id="post-1" />

    <div style="width:100%; height:250px; overflow: auto;" >
  {{rti.description}}

    </div>

  </div>


  <div id="popout" class="section-actions">

  <span class="section-title"><strong>  Actions </strong> </span> <br>

  <div class="row actions ">

  			<div class="social-icons">
  				<ul>
          <!--  [routerLink]="['/rti',rti.nom,rti.rti_id,'annotation']" !-->
  					<li  ><a [routerLink]="['/rti',rti.rti_id,'annotation']" ><i class=" fa fa-asterisk "></i></a></li>
  					<li><a href="#popup1" ><i class=" fa fa-edit   " ></i></a></li>
  					<li><a ><i class="fa fa-share-alt "></i></a></li>

  				</ul>

  		</div>
  	</div>
  </div>


      </div>


    </div>

    <script>


     </script>


  </div>
