


<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Editer</h2>
    <a class="close"   href="#popout">&times;</a>
    <div>

      <form class="row"    (ngSubmit)="onSubmitform(f)"  #f="ngForm"        (ngSubmit)= "updateRti()"  >

      <div class="column">
        <div class="form-group">
      <label for="name">Identifiant </label>
      <input type="text"  name="id" class="form-control" readonly  value="rti.rti_id"  [(ngModel)]="rti.rti_id" #formInputText >


          <li  class="btn fa fa-clipboard" [ngxClipboard]="formInputText"></li>
        </div>




      <div class="form-group" *ngIf=" user.email === 'Admin@gmail.com'">
      <label for="exampleFormControlSelect1">Proprietaire</label>
      <select [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
    <option value="" selected disabled>Selectionnez un proprietaire pour ce RTI</option>
    <option   *ngFor="let user of users" value="{{user.id}}" >{{user.username}} - {{user.email}}</option>

      </select>
    </div>

    <div class="form-group" *ngIf=" user.email != 'Admin@gmail.com'">
    <label for="exampleFormControlSelect1">Proprietaire</label>
    <select disabled [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
  <option   disabled value="{{user?.id}}" >{{user?.username}} - {{user?.email}}</option>

    </select>

  </div>






                       <div class="form-group">
                             <label for="exampleFormControlSelect1">Visibilité</label>
                         <select [(ngModel)]="rti.public" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                             <option   value="1" >Public</option>
                           <option   value="0" >Privé</option>
                           </select>
                           </div>



      </div>

      <div class="column">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Date d'acquisition</label>

          <input type="date" name="date" class="form-control" placeholder="Date" [(ngModel)]="rti.date">
          </div>

              <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" name="name" class="form-control"  [(ngModel)]="rti.nom"    >
                 </div>

                 <div class="form-group">
                   <label for="exampleFormControlSelect1">Description</label>

                     <textarea  name="description" class="form-control" placeholder="Description" [(ngModel)]="rti.description"> </textarea>
                 </div>



                    <!--
                    <div class="form-group">
                  <label for="name">tag</label>
                  <input type="text" name="public" class="form-control" [(ngModel)]="rti.tag">
                       </div>
                       !-->

                       <!-- Progress Bar -->
                       <!--
                             <div class="progress form-group" *ngIf="progress > 0">
                                 <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                                 </div>
                             </div>
         <input type="file" class="form-group"   name="myFile" (change)="fileEvent($event)"/>
!-->


      </div>
            <button     class="btn btn-dark btn-sm mt-4">Mettre à jour </button>


        </form>

          </div>
  </div>
</div>


    <div class="is-fluid "  >






      <div class="is-fluid container ">



            <!-- open lime !-->
        <div   id="openlime"> </div>
  <!-- open lime !-->
<script src="/assets/js/openlime.js"></script>

      </div>







      <div *ngFor="let rti of rtis" class="card is-fluid  ">
  <header class="card-header">
    <p class="card-header-title">
      {{rti.nom}}
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
  <div class="card-content">
    <div class="content">
    {{rti.description}}
    <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
      <div class="modal-background" (click)="toggleModal()"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modifier RTI <i class="fa-regular fa-traffic-cone"></i></p>
          <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
          <div>
            <div>

              <form class="row"    (ngSubmit)="onSubmitform(f)"  #f="ngForm"        (ngSubmit)= "updateRti()"  >

              <div class="column">
                <div class="form-group">
              <label for="name">Identifiant
                <span class="icon is-small is-left"><i class="fas fa-hashtag"></i></span>
              </label>
              <input type="text"  name="id" class="input" readonly  value="rti.rti_id"  [(ngModel)]="rti.rti_id" #formInputText >
              <li  class="btn fa fa-clipboard" [ngxClipboard]="formInputText"></li>
                </div>

              <div class="form-group" *ngIf=" user.email === 'Admin@gmail.com'">
              <label for="exampleFormControlSelect1">Proprietaire

                <span class="icon is-small is-left"><i class="fas fa-user"></i></span>


              </label>
              <select [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
            <option value="" selected disabled>Selectionnez un proprietaire pour ce RTI</option>
            <option   *ngFor="let user of users" value="{{user.id}}" >{{user.username}} - {{user.email}}</option>


              </select>
            </div>

            <div class="form-group" *ngIf=" user.email != 'Admin@gmail.com'">
            <label for="exampleFormControlSelect1">Proprietaire
              <span class="icon is-small is-left"><i class="fas fa-user"></i></span>


            </label>
            <select disabled [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
          <option   disabled value="{{user?.id}}" >{{user?.username}} - {{user?.email}}</option>

            </select>

          </div>






                               <div class="form-group">
                                     <label for="exampleFormControlSelect1">Visibilité
                                       <span class="icon is-small is-left"><i class="fas fa-eye"></i></span>

                                     </label>
                                 <select [(ngModel)]="rti.public" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                                     <option   value="1" >Public</option>
                                   <option   value="0" >Privé</option>
                                   </select>
                                   </div>



              </div>

              <div class="column">
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Date d'acquisition
                    <span class="icon is-small is-left"><i class="fas fa-calendar"></i></span>

                  </label>

                  <input type="date" name="date" class="input" placeholder="Date" [(ngModel)]="rti.date">
                  </div>

                      <div class="form-group">
                    <label for="name">Nom
                      <span class="icon is-small is-left"><i class="fas fa-id-card"></i></span>


                    </label>
                    <input type="text" name="name" class="input"  [(ngModel)]="rti.nom"    >
                         </div>

                         <div class="form-group">
                           <label for="exampleFormControlSelect1">Description</label>
                           <span class="icon is-small is-left"><i class="fas fa-align-center"></i></span>

                             <textarea  name="description" class="input" placeholder="Description" [(ngModel)]="rti.description"> </textarea>
                         </div>



                            <!--
                            <div class="form-group">
                          <label for="name">tag</label>
                          <input type="text" name="public" class="form-control" [(ngModel)]="rti.tag">
                               </div>
                               !-->

                               <!-- Progress Bar -->
                               <!--
                                     <div class="progress form-group" *ngIf="progress > 0">
                                         <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                                         </div>
                                     </div>
                 <input type="file" class="form-group"   name="myFile" (change)="fileEvent($event)"/>
  !-->


              </div>
              <button     class="btn btn-dark btn-sm mt-4">Mettre à jour </button>

                </form>

                  </div>
          </div>



        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" (click)="updateRti()" >Sauvegarder</button>
          <button class="button" (click)="toggleModal()">Cancel</button>
        </footer>
      </div>
    </div>
      <br>
      <time datetime="">Publié le {{rti.date}}</time>
    </div>
  </div>
  <footer class="card-footer">
    <a  [routerLink]="['/loading']"  class="card-footer-item"><i class="fas fa-circle-xmark"></i> Retour</a>

    <a   (click)="toggleModal()" class="card-footer-item"> <i class="fas fa-pen-to-square"></i> Editer</a>
    <a  [routerLink]="['/rti',rti.rti_id,'annotation']"  class="card-footer-item" *ngIf=" user.id === rti.owner_id" > <i class="fas fa-highlighter"></i> Annoter</a>
  </footer>
</div>

<div>

    </div>



  </div>
