.card-image:first-child img {
object-fit: cover;
}
.card {
cursor: pointer;
transition: 0.4s;
}

.media:not(:last-child) {
  margin-bottom: 0.2rem;
}
.title {

  line-height: 1;
}

.level {
  padding: 0.2rem;
}

.c:hover {
  color: #Fa4616;
}

.icon {
  color: darkgrey;
}


.card-content {
  padding-top: 0.5rem;
  padding: 0.3rem;
}
.booking-card:hover {
  transform: translate(0, -2px);
}
.fa-eye, .fa-thumbs-up {
  margin-left: 1vh;
}

ul {
	display: flex;
	flex-wrap: wrap;

}

ul .booking-card {
	position: relative;
	display: flex;
	flex: 0 0 410px;
	flex-direction: column ;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	-webkit-box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, .44);
	box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, .44);

	overflow: hidden;

	text-align: center;
	transition: .0.5s
}

.fa-eye-slash{
  font-size: 2vh;
}


/** Breakpoints responsive **/

@media only screen and (min-width: 768px) {
/* tablettes et ordinateurs */
}
@media only screen and (max-width: 767px) {
  ul .booking-card {

  	flex: 0 0 320px;

  }
}
@media only screen and (max-width: 767px) and (orientation: portrait) {
  ul .booking-card {

  	flex: 0 0 320px;



  }
}
