
<div id="app" *ngIf=" user.role != 'Admin'">
   <div>403  <br />
 </div>
   <div class="txt">
  <br />  <br />  Vous n'avez pas la permission d'accéder à ce contenu<span class="blink">_</span>
   </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>

<div class="container is-widescreen " *ngIf=" user.role === 'Admin'">

     <ul >
       <li *ngFor="let mydata of rtis1" class="booking-card center " >


         <div class="card"   >
           <div [routerLink]="['/rti',mydata.rti_id]"  class="card-image">
             <figure class="image is-5by3">
               <img src="/assets/{{mydata.rti_id}}/thumbnail.jpg" alt="thumbnail {{mydata.nom}}">
             </figure>
           </div>
           <div class="card-content is-1by1">
             <div class="media">

               <div class="media-content">
                 <p class="title is-4">{{mydata.nom}}        <i *ngIf=" mydata.public === '0'" class="fas fa-eye-slash"></i></p>
              <!--   <p class="subtitle is-6">@owner_name</p> !-->
                 <nav class="level is-mobile">
                   <div class="level-left">

                     <a class="level-item" aria-label="like">
                      <span class="num"> 11</span> <span class="icon c is-small">
                  <i class="fas fa-heart" aria-hidden="true"></i>
                       </span>
                     </a>

                     <a class="level-item" aria-label="reply">
                      <span class="num" > 23</span>   <span class="icon is-small">
                      <i class="fas fa-eye" aria-hidden="true"></i>
                       </span>
                     </a>

                     </div>
        <div class="level-right">



          <a class="level-item" aria-label="retweet">
            <span class="icon is-small">
              <i class="fas c fa-share" aria-hidden="true"></i>
            </span>
          </a>



          <a [routerLink]="['/rti',mydata.rti_id,'/embed']" class="level-item" aria-label="embed">
            <span class="icon is-small">
              <i class="fas c fa-code" aria-hidden="true"></i>
            </span>
          </a>

        </div>
      </nav>
               </div>
             </div>

             <div class="content">

             </div>
           </div>

         </div>



       </li>

     </ul>
  </div>
