.user, .navlink {
  margin-right: 1vh;
  color: white!important;
}

.navbar {
  background-color: #2D3047!important;
}

a {
  color: white!important;
}


.fa-power-off {
  padding-left: 3vh;
}
.fa-power-off:hover {
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px 15px white;

}




.dropdown-toggle::after {

  display: none;

}
