<!--

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" *ngIf="isLoggedin">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">Fixed navbar</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="navbarCollapse">
       <ul class="navbar-nav me-auto mb-2 mb-md-0">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Link</a>
         </li>

         <li class="nav-item">

 <a class="nav-link"   (click)="logOut()" >lOGOUT</a>

</li>

       </ul>

     </div>
   </div>
 </nav>
 !-->



 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light" >
   <!-- Container wrapper -->
   <div class="container-fluid">
     <!-- Toggle button -->
     <button
       class="navbar-toggler"
       type="button"
       data-mdb-toggle="collapse"
       data-mdb-target="#navbarSupportedContent"
       aria-controls="navbarSupportedContent"
       aria-expanded="false"
       aria-label="Toggle navigation"
     >
       <i class="fas fa-bars"></i>
     </button>

     <!-- Collapsible wrapper -->
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <!-- Navbar brand -->
       <a   routerLink="Users/{{user?.username}}"   class="navbar-brand mt-2 mt-lg-0" >
         <img
           src="./assets/logowhite.png"
           height="25"
           alt="MDB Logo"
           loading="lazy"
         />
       </a>
       <!-- Left links -->


       <ul class="navbar-nav me-auto mb-2 mb-lg-0">

         <div>


         <li class="nav-item">
           <a class="nav-link" routerLink="/Ajouter-rti" >Ajouter un rti</a>
         </li>
      
</div>



<div>

         <li class="nav-item"   >
           <a class="nav-link"     routerLink="Users/{{user?.username}}"   > Mes rtis  </a>
         </li>

         </div>

  <!--

         <li class="nav-item">
           <a class="nav-link" >Projects</a>
         </li>
         !-->

       </ul>


       <!-- Left links -->
     </div>
     <!-- Collapsible wrapper -->

     <!-- Right elements -->
     <div class="d-flex align-items-center">





       <div class="user">
<B>{{user?.username}}</B>
       </div>
       <!-- Avatar -->
       <div class="dropdown">
         <a
           class="dropdown-toggle d-flex align-items-center hidden-arrow"

           id="navbarDropdownMenuAvatar"
           role="button"
           data-mdb-toggle="dropdown"
           aria-expanded="false"
         >
           <img
             src="//cdn-icons-png.flaticon.com/512/1177/1177568.png"
             class="rounded-circle"
             height="25"
             alt="Black and White Portrait of a Man"
             loading="lazy"
           />
         </a>
         <ul
           class="dropdown-menu dropdown-menu-end"
           aria-labelledby="navbarDropdownMenuAvatar"
         >
           <li>
             <a class="dropdown-item" >My profile</a>
           </li>
           <li>
             <a class="dropdown-item" >Settings</a>
           </li>
           <li>
             <a class="dropdown-item" >Logout</a>
           </li>
         </ul>
       </div>
          <li><a ><i aria-hidden="true"   (click)="logOut()" class="fa fa-power-off "></i></a></li>
     </div>
     <!-- Right elements -->
   </div>
   <!-- Container wrapper -->
 </nav>
 <!-- Navbar -->
