
<body>



<div class="container">

<!-- onSubmitform(f) !-->

  <form class="form"  #f="ngForm"   (ngSubmit)="insertData() ;  ">
    <h1 class="form-title">Ajouter un RTI</h1>
    <div class="grid">


      <div class="form-group">
       <input type="text" name="name" class="form-control"  placeholder="Nom"  [(ngModel)]="rti.nom"   >
      </div>

      <div class="form-group">
          <textarea  name="description" class="form-control" placeholder="Description" [(ngModel)]="rti.description"> </textarea>
      </div>

      <div class="form-group">
        <input type="text" name="lien" class="form-control"  placeholder="Lien" [(ngModel)]="rti.lien">
      </div>











      <div class="form-group">
      <label for="exampleFormControlSelect1">Proprietaire</label>
      <select [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
        <option *ngFor="let user of users" value="{{user.id}}" >{{user.name}} - {{user.email}}</option>

      </select>
    </div>



        <div class="form-group">
          <input type="date" name="Email" class="form-control" placeholder="Date" [(ngModel)]="rti.date">
          </div>

          <div class="form-group">
            <input type="text" name="public" class="form-control" placeholder="Visibilité" [(ngModel)]="rti.public">
            </div>

            <div class="form-group">
              <input type="text" name="layout" class="form-control" placeholder="Layout" [(ngModel)]="rti.layout">
              </div>

              <div class="form-group">
                <input type="text" name="public" class="form-control" placeholder="Type" [(ngModel)]="rti.type">


                </div>


<!--
                  <input type="file"  name="myFile" (change)="fileEvent($event)"/>
                  <button>Upload Image</button>

!-->
      <button type="submit" class="btn">Ajouter</button>
    </div>
  </form>


</div>











</body>
