@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
html, body {
  overflow-y: hidden;
}

#app {
  font-family: "Press Start 2P", cursive;
  box-sizing: border-box;
}

#app {
  padding: 1rem;
  background: black;
  display: flex;
  height: 98vh;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  color: #54FE55;
  text-shadow: 0px 0px 10px;
  font-size: 6rem;
  flex-direction: column;
}
#app .txt {
  font-size: 1.8rem;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}






.box:hover{
  cursor: pointer;
  transform: scale(1.02);

}
.sub-title {
  color: #f0f0f0;
  opacity: 0!important;
}
.booking-card:hover .sub-title {
  color: #333!important;
  opacity: 1!important;
}

.title {
  font-size: 2em!important;
}
h2 {
  color: #333;
  font-weight: 500;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
li {


}

.info-and-date-container {
  padding: 3%;
}

.informations-container {
  font-family:'Work Sans'!important;
}

ul .booking-card {
  position: relative;
  display: flex;
  flex: 0 0 400px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.44);
  box-shadow: 4px 4px 2px -1px rgba(0,0,0,0.44);
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fc4400;
  transition: 0.3s;
}
ul .booking-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}
ul .booking-card .book-container {
  height: 200px;
}
ul .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  transform: translateY(-200px);
  transition: 0.3s;
}
ul .booking-card .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
ul .booking-card .book-container .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #fc4400;
}
ul .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background:rgba(240, 240, 240, 0.75);
  transform: translateY(250px);
  transition: 0.3s;
}
ul .booking-card .informations-container .title {
  position: relative;


  font-weight: bold;
  font-size: 1.2em;
}


/** A CHECKER */


.title::after  {
  background: #f0f0f0!important;
}


/** A CHECKER */

ul .booking-card .informations-container .title::after {


}
ul .booking-card .informations-container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
ul .booking-card .informations-container .price .icon {
  margin-right: 10px;
}
ul .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
ul .booking-card .informations-container .more-information .info-and-date-container {
  display: flex;
}
ul .booking-card .informations-container .more-information .info-and-date-container .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}
ul .booking-card .informations-container .more-information .info-and-date-container .box .icon {
  margin-bottom: 5px;
}
ul .booking-card .informations-container .more-information .info-and-date-container .box.info {
  color: #FA4616;
  margin-right: 10px;
}

ul .booking-card .informations-container .more-information .disclaimer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #7d7d7d;
}
ul .booking-card:hover::before {
  background: rgba(0, 0, 0, 0.05);
}
ul .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(90px);
}
ul .booking-card:hover .informations-container {
  transform: translateY(98px);
}
ul .booking-card:hover .informations-container .more-information {
  opacity: 1;
}

@media (max-width: 1500px) {
  ul {
      width: 100%
  }
  /**
  ul .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }
  ul .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  ul .booking-card .informations-container {
    transform: translateY(0px);
  }
  ul .booking-card .informations-container .more-information {
    opacity: 1;
  }
  **/
}
.sub-title{
  color: #333;
}

h1 {
  margin: 10px 20px;
}

/** RTI POUR MOBILE  POINT DE REPERE **/

@media only screen and (min-width : 320px) and (max-width : 790px) {

  ul .booking-card .informations-container .more-information {
    opacity: 1!important;
    transition: 0.3s;

  }

  .sub-title{
    color: #333!important;
    opacity: 1!important;
  }
  ul .booking-card:hover .book-container .content {
    opacity: 1;
    transform: translateY(70px);
  }

  ul .booking-card::before {
    background: rgba(0, 0, 0, 0.2);
  }
  ul .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(70px);
  }
  ul .booking-card .informations-container {
    transform: translateY(200px);
  }

  ul .booking-card:hover .informations-container {
    transform: translateY(200px);
  }
  ul .booking-card .informations-container .more-information {
    opacity: 1!important;
  }




}


/** RTI POUR MOBILE  POINT DE REPERE **/


.container {

}
input {
/**  color: white;**/
}

.txt {
  color: white;
}
.fa {
  font-size: 2vh;
}

.form-title {
  margin-bottom: 2vh;
}

.grid {
  display: grid;
  column-gap: 80px;
  row-gap: 24px;
  align-items: end;
}

label {
  color: white;
}

.form {
  width: 100%;
  max-width: 400px;
  margin: 14px auto 0;
  background-color: rgba(0, 0, 0, 0.80);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 14px 22px;
  border-radius: 11px;
}

  .form-title {
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-align: left;
  }

  .form-group {
    margin-bottom: 24px;

    input,
    textarea {
      display: inline-block;
      width: 100%;
      padding: 16px 8px;
      font-family: inherit;
      font-size: 14px;
      color: #000 !important;
      border: none;
      outline: none;

      &::placeholder {
        color: #37595e;
      }

      &:focus {
        border-color: #21325e;
      }
    }

    input {
      border-bottom: 1px solid #ddd;
    }

    textarea {
      border: 1px solid #ddd;
      height: 100px;
      resize: none;
      border-radius: 11px;
    }
  }

  .btn {
    display: inline-block;
    border: none;
    outline: none;
    background-color: #2D3047;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 1000px;
    cursor: pointer;
  }

  .btn {
    display: inline-block;
    border: none;
    outline: none;
    background-color: #2D3047;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    padding: 16px 32px;
    border-radius: 1000px;
    cursor: pointer;
  }


@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .form {
    max-width: 800px;
  }

  .btn {
    grid-column: 1 / -1;
    justify-self: end;
  }
}
