
<body>




  <button (click)="backClicked()" class="btn"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
<div class="container">

<!-- onSubmitform(f) !-->

  <form class="form"  #f="ngForm"   (ngSubmit)="insertData() ;  ">
    <h1 class="form-title">Ajouter un RTI</h1>
    <div class="grid">


      <div class="form-group">
        <label for="exampleFormControlSelect1">Nom</label>

       <input type="text" name="name" class="form-control"  placeholder="Nom"  [(ngModel)]="rti.nom"   >
      </div>

      <div class="form-group">
        <label for="exampleFormControlSelect1">Description</label>

          <textarea  name="description" class="form-control" placeholder="Description" [(ngModel)]="rti.description"> </textarea>
      </div>





      <div class="form-group" *ngIf=" user.email === 'Admin@gmail.com'">
      <label for="exampleFormControlSelect1">Proprietaire</label>
      <select [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
    <option value="" selected disabled>Selectionnez un proprietaire pour ce RTI</option>
    <option   *ngFor="let user of users" value="{{user.id}}" >{{user.username}} - {{user.email}}</option>

      </select>
    </div>

    <div class="form-group" *ngIf=" user.email != 'Admin@gmail.com'">
    <label for="exampleFormControlSelect1">Proprietaire</label>
    <select [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
  <option value="" selected disabled>Selectionnez un proprietaire pour ce RTI</option>
  <option    value="{{user?.id}}" >{{user?.username}} - {{user?.email}}</option>

    </select>
  </div>




        <div class="form-group">
          <label for="exampleFormControlSelect1">Date d'acquisition</label>

          <input type="date" name="Email" class="form-control" placeholder="Date" [(ngModel)]="rti.date">
          </div>



            <div class="form-group">
            <label for="exampleFormControlSelect1">Visibilité</label>
            <select [(ngModel)]="rti.public" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
          <option   value="1" >Public</option>
        <option   value="0" >Privé</option>
            </select>
          </div>







                      <div class="form-group">
                      <label for="exampleFormControlSelect1">Layout</label>
                      <select [(ngModel)]="rti.layout" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                    <option   value="tarzoom" >tarzoom</option>
                  <option   value="itarzoom" >itarzoom</option>
                  <option   value="deepzoom" >deepzoom</option>
                <option   value="image" >image</option>
                      </select>
                    </div>





                            <div class="form-group">
                            <label for="exampleFormControlSelect1">Type</label>
                            <select [(ngModel)]="rti.type" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                          <option   value="rti">rti</option>
                        <option   value="jpeg" >jpeg</option>

                            </select>
                          </div>


<!--
                  <input type="file"  name="myFile" (change)="fileEvent($event)"/>
                  <button>Upload Image</button>

!-->
      <button type="submit" class="btn">Ajouter</button>
    </div>
  </form>


</div>











</body>
