
<div id="app" *ngIf=" user.role != 'Admin'">
   <div>403  <br />
 </div>
   <div class="txt">
  <br />  <br />  Vous n'avez pas la permission d'accéder à ce contenu<span class="blink">_</span>
   </div>
</div>

<div *ngIf=" user.role === 'Admin'">



<div class="container" >

<!-- onSubmitform(f) !-->

  <form class="form"  (ngSubmit)="onSubmitform(f)"  #f="ngForm"     (ngSubmit)="insertData() ">

<!-- #f="ngForm" (ngSubmit)="onSubmitform(f)" !-->

    <h1 class="form-title">Ajouter un RTI</h1>
    <div class="grid">


      <div class="form-group">
        <label for="exampleFormControlSelect1">Nom</label>

       <input type="text" name="name" class="form-control"  placeholder="Nom"  [(ngModel)]="rti.nom"   >
      </div>




<!-- TEXT EDITOR  !-->






      <div class="form-group">
        <label for="exampleFormControlSelect1">Description</label>

          <textarea  name="description" class="form-control" placeholder="Description" [(ngModel)]="rti.description"> </textarea>
      </div>



<!-- TEXT EDITOR !-->



      <div class="form-group" *ngIf=" user.email === 'Admin@gmail.com'">
      <label for="exampleFormControlSelect1">Proprietaire</label>
      <select [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
    <option value="" selected disabled>Selectionnez un proprietaire pour ce RTI</option>
    <option   *ngFor="let user of users" value="{{user.id}}" >{{user.username}} - {{user.email}}</option>

      </select>
    </div>

    <div class="form-group" *ngIf=" user.email != 'Admin@gmail.com'">
    <label for="exampleFormControlSelect1">Proprietaire</label>
    <select [(ngModel)]="rti.owner_id" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
  <option value="" selected disabled>Selectionnez un proprietaire pour ce RTI</option>
  <option    value="{{user?.id}}" >{{user?.username}} - {{user?.email}}</option>

    </select>
  </div>




        <div class="form-group">
          <label for="exampleFormControlSelect1">Date d'acquisition</label>

          <input type="date" name="Email" class="form-control" placeholder="Date" [(ngModel)]="rti.date">
          </div>



            <div class="form-group">
            <label for="exampleFormControlSelect1">Visibilité</label>
            <select [(ngModel)]="rti.public" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
          <option   value="1" >Public</option>
        <option   value="0" >Privé</option>
            </select>
          </div>







                      <div class="form-group">
                      <label for="exampleFormControlSelect1">Layout</label>
                      <select [(ngModel)]="rti.layout" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                    <option   value="tarzoom" >tarzoom</option>
                  <option   value="itarzoom" >itarzoom</option>
                  <option   value="deepzoom" >deepzoom</option>
                <option   value="image" >image</option>
                      </select>
                    </div>





                            <div class="form-group">
                            <label for="exampleFormControlSelect1">Type</label>
                            <select [(ngModel)]="rti.type" [ngModelOptions]="{standalone: true}" class="form-control" id="exampleFormControlSelect1">
                          <option   value="rti">rti</option>
                        <option   value="jpeg" >jpeg</option>

                            </select>
                          </div>

                        <!--  <input type="file"   name="myFile" (change)="fileEvent($event)"/> !-->



<!--
                  <input type="file"  name="myFile" (change)="fileEvent($event)"/>
                  <button>Upload Image</button>

 *ngIf=" i === 0 "
!-->
      <button type="submit"  class="btn">Ajouter</button>



    </div>
  </form>




</div>


<h3> DRAFT </h3>





<div  >

        <ul  >
<div *ngFor="let mydata of rtis; " >
          <li    class="booking-card center" style="background-image: url('/assets/{{mydata.rti_id}}/thumbnail.jpg')">

              <div class="book-container">
              <div class="content">
                <!--        [routerLink]="['/rti',mydata.nom,mydata.rti_id]"   *ngIf=" mydata.status === 'draft'"  !-->
                <button class="btn" [routerLink]="['/rti',mydata.rti_id,'charger-mon-rti']"  > Charger mon fichier </button>
              </div>
            </div>
            <div class="informations-container">
              <h2   class="title">   {{mydata.nom}}</h2>
              <p class="sub-title">
      Acquisition effectuée le  <strong> {{mydata.date}}</strong> <br>
     Par <strong> {{mydata.owner_id.username}}</strong><br>
              </p>

              <div class="more-information">

                <p class="disclaimer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi eveniet perferendis culpa. Expedita architecto nesciunt, rem distinctio</p>
                </div>
            </div>
          </li>
</div>
        </ul>
        </div>

</div>

<!--

<div  *ngFor="let mydata of rtis; index as i">
      <div class="txt"  *ngIf=" i === 0 ">{{mydata.nom}}</div>
      </div>


!-->
