
<!--
<form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
  <h2 class="h3 mb-3">Login</h2>

  <div class="form-group">
    <label>Email address</label>
    <input type="email" class="form-control" formControlName="email">

    <div *ngIf="err?.email" class="alert alert-danger mt-3">
      {{ err?.email }}
    </div>

    <div *ngIf="err?.password" class="alert alert-danger mt-3">
      {{ err?.password }}
    </div>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password">

    <div *ngIf="err?.error" class="alert alert-danger mt-3">
      {{ err?.error }}
    </div>
  </div>

  <button type="submit" class="btn btn-success">se connecter</button>
</form>

!-->

<body>

<div class="login-box"  >
	<h2><img  class="logo"   src="../assets/logowhite.png" alt="Lorem Ipsum"></h2>
	<form [formGroup]="signinForm" (ngSubmit)="onSubmit()" autocomplete="off" >
		<div class="user-box form-group" >
			<input type="email" name="email" formControlName="email" autocomplete="off">
			<label>E-mail</label>
		</div>
		<div class="user-box form-group">
			<input type="password" name="Password" formControlName="password" autocomplete="off" type="password">
			<label for="">Mot de passe</label>
		</div>
		<button type="submit" >
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			Se connecter
		</button>
  <h3 class="reg" routerLink="/signup" > Pas de compte ? </h3>
	</form>

</div>
</body>
