





     <ul>
       <li *ngFor="let mydata of rtis" class="booking-card center" style="background-image: url('/assets/{{mydata.rti_id}}/thumbnail.jpg')">


         <div class="card"  [routerLink]="['/rti',mydata.rti_id]" >
           <div class="card-image">
             <figure class="image is-1by1">
               <img src="/assets/{{mydata.rti_id}}/thumbnail.jpg" alt="thumbnail {{mydata.nom}}">
             </figure>
           </div>
           <div class="card-content">
             <div class="media">

               <div class="media-content">
                 <p class="title is-4">{{mydata.nom}}       <i *ngIf=" mydata.public === '0'" class="fas fa-eye-slash"></i>
</p>
                 <p class="subtitle is-6">@owner_name</p>
                 <p class="subtitle is-6"> Effectué le {{mydata.date}} </p>

               </div>
             </div>

             <div class="content">

             </div>
           </div>
           <footer class="card-footer">
   <a class="card-footer-item">  <i class="fas fa-share"></i>   </a>
   <a  class="card-footer-item">     <i class="fas fa-code"></i>    </a>
   <a   class="card-footer-item">    50   <i class="fas fa-eye"></i>      </a>
   <a   class="card-footer-item">    8   <i class="fas fa-thumbs-up"></i>      </a>

 </footer>
         </div>



       </li>

     </ul>
