
.card {
  cursor: pointer;
transition: 0.4s;
}


.card-content-background-color {
  background-color: red;
}

.card:hover {
  transform: translate(0, -2px);
}
.fa-eye, .fa-thumbs-up {
  margin-left: 1vh;
}

ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;

	margin-left: auto;
	margin-right: auto;
	width: 100%
}

ul .booking-card {
	position: relative;
	display: flex;
	flex: 0 0 400px;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, .44);
	box-shadow: 2px 2px 1px -1px rgba(0, 0, 0, .44);
	border-radius: 10px;
	overflow: hidden;
	background-position: center center;
	background-size: cover;
	text-align: center;
	color: #fc4400;
	transition: .3s
}

.fa-eye-slash{
  font-size: 2vh;
}
