


<body>



  <div class="login-box"  >
  	<h2><img  class="logo"   src="../assets/logowhite.png" alt="Lorem Ipsum"></h2>
  	<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" autocomplete="off" >



        <div class="form-group user-box ">

          <input type="text" name="username" formControlName="username">
    <label>Nom</label>
          <!--  <div *ngIf="err?.name" class="alert alert-danger mt-3">
          {{ err?.name }}
          </div>!-->
        </div>


  		<div class="user-box form-group" >
  			<input type="email" name="email" formControlName="email" autocomplete="off">
  			<label>E-mail</label>
  		</div>





  		<div class="user-box form-group">
  			<input type="password" name="Password" formControlName="password" autocomplete="off" type="password">
  			<label for="">Mot de passe</label>
  		</div>





      <div class="form-group user-box ">

        <input type="password"  formControlName="password_confirmation">
  <label>Confirmer le mot de passe</label>
      <!--  <div *ngIf="err?.password_confirmation" class="alert alert-danger mt-3">
          {{ err?.password_confirmation }}
        </div>!-->
      </div>

  		<button type="submit" >
  			<span></span>
  			<span></span>
  			<span></span>
  			<span></span>
  			S'inscrire
  		</button>
      <h3 class="reg" routerLink="/login" > j'ai déja un compte. </h3>

  	</form>

  </div>


  </body>
